services:
  dashboard:
    image: nginx:alpine
    container_name: dashboard
    ports:
      - "8888:80"
    volumes:
      - ./dashboard:/usr/share/nginx/html:ro
    restart: unless-stopped

  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    environment:
      - PUID=0
      - PGID=0
      - TZ=${TZ:-Europe/Berlin}
    volumes:
      - ${DATA_PATH}/configs/jellyfin:/config
      - ${DATA_PATH}/jellyfin/cache:/cache
      - ${DATA_PATH}/sonarr/tv:/data/tvshows
      - ${DATA_PATH}/radarr/movies:/data/movies
      - ${DATA_PATH}/qbittorrent/downloads:/data/downloads
    ports:
      - "8096:8096"
    restart: unless-stopped

  radarr:
    image: lscr.io/linuxserver/radarr:latest
    container_name: radarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=${TZ:-Europe/Berlin}
    volumes:
      - ${DATA_PATH}/configs/radarr:/config
      - ${DATA_PATH}/radarr/movies:/movies
      - ${DATA_PATH}/qbittorrent/downloads:/downloads
    ports:
      - "7878:7878"
    restart: unless-stopped

  sonarr:
    image: lscr.io/linuxserver/sonarr:latest
    container_name: sonarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=${TZ:-Europe/Berlin}
    volumes:
      - ${DATA_PATH}/configs/sonarr:/config
      - ${DATA_PATH}/sonarr/tv:/tv
      - ${DATA_PATH}/qbittorrent/downloads:/downloads
    ports:
      - "8989:8989"
    restart: unless-stopped

  bazarr:
    image: lscr.io/linuxserver/bazarr:latest
    container_name: bazarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=${TZ:-Europe/Berlin}
    volumes:
      - ${DATA_PATH}/configs/bazarr:/config
      - ${DATA_PATH}/radarr/movies:/movies
      - ${DATA_PATH}/sonarr/tv:/tv
    ports:
      - "6767:6767"
    restart: unless-stopped

  qbittorrent:
    image: lscr.io/linuxserver/qbittorrent:latest
    container_name: qbittorrent
    environment:
      - WEBUI_PORT=8080
      - PUID=0
      - PGID=0
      - TZ=${TZ:-Europe/Berlin}
    volumes:
      - ${DATA_PATH}/configs/qbittorrent:/config
      - ${DATA_PATH}/qbittorrent/downloads:/downloads
    ports:
      - "8080:8080"
      - "6881:6881"
      - "6881:6881/udp"
    restart: unless-stopped

  prowlarr:
    image: lscr.io/linuxserver/prowlarr:latest
    container_name: prowlarr
    environment:
      - PUID=0
      - PGID=0
      - TZ=${TZ:-Europe/Berlin}
    volumes:
      - ${DATA_PATH}/configs/prowlarr:/config
    ports:
      - "9696:9696"
    restart: unless-stopped

  flaresolverr:
    image: ghcr.io/flaresolverr/flaresolverr:latest
    container_name: flaresolverr
    environment:
      - TZ=${TZ:-Europe/Berlin}
    ports:
      - "8191:8191"
    restart: unless-stopped
